@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@400;500;600&family=Poppins:wght@300;400;500&family=Roboto:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(235, 18%, 26%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card .card-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 55% 45%;
}
.container .card .card-container .image .img {
  width: 100%;
}

.main {
  padding: 2rem;
  margin: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main .title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.main .list {
  margin-left: 1.5rem;
}
.main .list ul {
  list-style-image: url("./assets/icon-list.svg");
  line-height: 1.6;
}
.main .list ul li {
  padding: 5px;
}
.main .form {
  margin-top: 1rem;
}
.main .form form .email .validation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main .form form .email .validation label {
  margin-bottom: 0.5rem;
}
.main .form form .email .validation .Error {
  display: none;
  transition: all 0.4s ease-in-out;
}
.main .form form .email #email {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.btn {
  background-color: hsl(234, 29%, 20%);
  padding: 1rem;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 1.1rem;
  width: 100%;
}
.btn:hover {
  background-image: linear-gradient(90deg, hsla(329, 100%, 70%, 0.85), hsla(4, 100%, 67%, 0.84));
  box-shadow: 1px 1px hsl(231, 7%, 60%);
  border: none;
}

.main-success {
  background-color: hsl(0, 0%, 100%);
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  padding: 3rem;
}
.main-success .image {
  width: 78px;
  height: auto;
}
.main-success .image img {
  width: 100%;
  height: 100;
}

.error-message {
  color: hsl(4, 100%, 67%);
  display: block !important;
}

.error-email {
  background-color: hsl(4, 100%, 92%);
  border: 2px solid hsl(4, 100%, 67%);
  color: hsl(4, 100%, 67%);
}

.title-success {
  color: hsl(234, 29%, 20%);
}

@media only screen and (max-width: 375px) {
  .container {
    background-color: hsl(0, 0%, 100%);
  }
  .card-container {
    display: flex !important;
    flex-direction: column-reverse;
    padding: 0rem !important;
  }
  .card-container .main {
    width: 100%;
    margin: 0rem !important;
  }
  .card-container .image .img {
    content: url("./assets/illustration-sign-up-mobile.svg");
    width: 100%;
  }
  .main-success {
    position: relative;
    padding: 1.5rem;
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
  }
  .main-success .image {
    margin-top: 8rem;
  }
  .main-success .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    display: flex;
    justify-content: center;
  }
  .main-success .footer .btn {
    margin: 0 auto;
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */